body {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23252C;
 padding-top: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#heading {
  color: red;
}

.profile_form{
  margin: auto;
  width:500px;
  height:800px;
  border: 0 solid transparent;
  text-align:center;
  box-sizing: border-box;
 
  border-radius: 10px;
  background-color: #1A1B21;
  box-shadow: 0 15px 25px rgba(0,0,0,.5);
}

/* padding: 1rem 1rem; */