a{
    text-decoration: none;
    color: black;
}

.info_photo{
    width: 150px;
    height:200px;
    margin-top: 20px;
}

.info_name
{
    
    color:white;
}

.info_title
{
    color:#746053
}

.info_icon{
    margin-right: 10%;
}
.info_email
{
    background-color: white;
    margin-right: 5%;
    height:37px;
    width: 120px;
    border-radius: 7px;
    color: black;
 
}

.info_ln
{
    background-color: #0A66C2;
    height:37px;
    width: 120px;
    border-radius: 7px;
    color: white;
}

